* {
    box-sizing: border-box;
}
header {
    background-color: black;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
    text-shadow: 2px 2px 4px white;
}

body {
    margin: 0;
    background-color: blanchedalmond;

}
.topnav {
    overflow: hidden;
    background-color: #333;
}
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 10px;
    text-decoration: none;
}
.column {
    float: left;
    padding: 10px;
}
.column.side {
    width: 25%;
    height: 590px;
    background-color: coral;
}
.column.middle {
    width: 75%;
}
.card {
    border-radius: 25px;
    background-color: lightblue;
    padding: 20px;
    margin-top: 20px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
button {
    background-color: seagreen;
}
button:hover {
    background-color: #00cccc;
    color: white;
}
